    <h1>Formulario de Login</h1>
    <div>
        <form action="/api/sessions/login" method="POST">
            <label for="email">Email: </label>
            <input placeholder="Your email..." type="text" id="email" name="email">
            <br></br>
            <label for="password">Password: </label>
            <input placeholder="Your password..." type="password" id="password" name="password">
            <br></br>
            <input type="submit" value="Login">
        </form>
        <br></br>
        <a href="/api/sessions/github">Log in with Github</a>
        <a href="/register">Registrate</a>
    </div>
</body>
</html>