<h1>Real Time Products</h1>

<form id="messageForm">
  <input type="text" id="messageInput1" placeholder="Título" />
  <input type="text" id="messageInput2" placeholder="Descripción" />
  <input type="text" id="messageInput3" placeholder="Código" />
  <input type="number" id="messageInput4" placeholder="Precio" />
  <input type="text" id="messageInput5" placeholder="Estado" />
  <input type="number" id="messageInput6" placeholder="Stock" />
  <input type="text" id="messageInput7" placeholder="Categoría" />

  <button type="button" onclick="validarCamposYEnviar()">Agregar Producto</button>
</form>

<div id="productList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>
